@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
*{
  font-family: 'Red Rose', cursive;
}
.navbar{
  color:#434343;
}
.nav-btn{
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}
.span{
  color: #A02279;
  -webkit-text-stroke: 1px #A02279;
}
.bold{
  -webkit-text-stroke: 1px #000;
  font-weight: 500;
}
.bd{
  -webkit-text-stroke: 1px #434343;
}
.modal{
  background: rgba(64, 64, 64, 0.3);
}
.bord{
  border-color: #CFD8DC;
  /* background-color: #CFD8DC; */
}
.meta{
  -webkit-text-stroke: 0.5px #000000;
}
.footer{
  background-color: #1D1D1E;
}
.foot-link{
  color: #F1F3F9;
}